<table>

  <th><button mat-icon-button (click)='update()'>
      <mat-icon>menu</mat-icon>
    </button>
  </th>
  <th>
    <div class="text"> <img class="imag" src="../assets/PicsArt_04-09-07.48.56.png" width="60px" height="60px">
      Kalakad Food Factory </div>
  </th>
  <th>


    <mat-form-field>
      <div style="margin-bottom:-30px;">
        <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
      </div>
      <span class="material-icons" matPrefix>
        room
      </span>
      <input class="serch" matInput placeholder="Location">
    </mat-form-field>

    <mat-form-field>
      <div style="margin-bottom:-30px;">
        <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
      </div>
      <span matPrefix>
        <mat-icon>search</mat-icon>
      </span>
      <input class="serch" matInput placeholder="Search">
    </mat-form-field>


    <!-- <img  class="imag" src="../assets/PicsArt_04-09-07.48.56.png" width="60px" height="60px" > -->


    <!-- </mat-card> -->
  </th>
  <th>
    <a mat-raised-button color="warn" href="https://www.google.com/" target="_blank"
      style="margin-left: 30px; ">Logout</a>
    <!-- <a routerlLink='/signup'>Logout</a> -->
  </th>

</table>



<!-- <button class="button" mat-raised-button routerLink='/reghotel' 
          color="warn" -->