<mat-card>

  <div>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile *ngFor="let getdata of dashboard" [rowspan]="getdata.rows" [colspan]="getdata.cols">
        <mat-card class="acard">
          <mat-card-header>
            <mat-card-title>{{getdata.title}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="image">
              <img [attr.width]="'{{getdata.wid}}'" src={{getdata.content}} />
              <br>
              <br>
              <div class="size">{{getdata.dialog}}</div>
            </div>

            <!-- {{getdata.content}} -->
          </mat-card-content>
        </mat-card>


      </mat-grid-tile>


    </mat-grid-list>

  </div>

</mat-card>