<div class="sidee" style="min-width: 260px">

  <button mat-icon-button routerLink="dashboard" routerclass="example-icon"
    aria-label="Example icon-button with home icon">
    <span class="material-icons">
      dashboard
    </span>
    Dashboard
  </button>

  <br><br>

  <button mat-icon-button routerLink="todaysoffer" routerclass="example-icon"
    aria-label="Example icon-button with home icon">
    <span class="material-icons">
      assignment
    </span>
    Todays Offer
  </button>


  <br>
  <br>

  <!-- this is dropdown -->
  <div class="wide">
    <button mat-button [matMenuTriggerFor]="menu" style="padding-left: 0px;"> <span class="material-icons">store</span>
      HOTELS </button>

    <mat-menu #menu="matMenu">
      <button class="wide" mat-menu-item *ngFor="let hotel of hotels" (click)="selecthotel(hotel)">{{hotel}}</button>
    </mat-menu>
  </div>
</div>