<form #submit="ngForm">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>

      <mat-card class="card" class="col-sm-4	.col-md-6	.col-lg-8	.col-xl-10">

        <br>
        <div class="text">
          KFF
        </div>

        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" ngModel name="email">
          </mat-form-field>
        </div>

        <div class="example">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <button class="button" mat-raised-button (click)="verify(submit.value)" color="primary">Login</button>
        <br><br>

        <hr>
        <button class="top" mat-stroked-button> <span class="material-icons">
            email
          </span> Continue with E-mail</button>
        <br>
        <button class="top" mat-stroked-button> <span class="material-icons">
            stay_current_portrait
          </span> Continue with Google</button>
        <br><br>

        <hr>
        <a routerLink='/forgetpassword'>forget password </a>
        /
        <a routerLink='/signup'>Create account</a>
        <br><br>
        <button class="button" mat-raised-button routerLink='/reghotel' color="warn">Register for hotels</button>

      </mat-card>


    </mat-grid-tile>

  </mat-grid-list>
</form>